/*
color scheme : 52ADDA	68B8DF	C9C9C9	DBDBDB	AACD4B	B5D954
color scheme : 336699	666666	999999
*/

body {
    font-family: arial,helvetica;
    color: white;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

/* HOME PAGE */

#section0 {
    padding-top: 0%;
    padding-bottom: 10%;
}

.section {
    text-align:center;
    padding-left: 10px;
    padding-right: 10px;
}

/* navigation */

.fp-tooltip{
    color: white;
}
#fp-nav span, .fp-slidesNav span{
    border-color: white;
}
#fp-nav li .active span, .fp-slidesNav .active span{
     background: #EEE;
}

/* - overview */

ul#social-media li{
    display: inline;
}

ul#social-media li a{
    margin: 0px 2px 5px 2px;
}

ul#sections li{
    display: inline;
}

ul#sections li a{
    margin-bottom: 5px;
}
/*
#profile-picture-container {
    height: inherit;
    width: inherit;
        /*margin: auto;
    height: 30%;
    width: inherit;
}*/

#profile-picture {
    display:inline-block;
    margin: auto;
    width: 20%;
    padding-top: 20%;
    background: url("../images/profile-picture.jpg") no-repeat center;
    background-size: contain;
    border-radius: 50%;
    margin-top: 10px;
}

h1 {
    margin-top: 5px;
}

/*.show-on-hover {
    visibility: hidden;
}*/

/* - experience */

#latest-projects {
    text-align: left;
    margin: auto;
}

#latest-projects .project-icon {
    font-size: xx-large;
    border: solid white;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    padding: 2px 5px;
}

#latest-projects .web-application {
    background: url("../images/appbar.browser.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}

#latest-projects .windows-phone-application {
    background: url("../images/appbar.windowsphone.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}

#latest-projects .project-info h4{
    margin-top: 0px;
}

#latest-projects .project-info p{
    margin: 3px 0px 2px 5px;
    font-size: medium;
}

/*#latest-projects .project-info p a{
    text-shadow: 2px 2px #666;
}*/

/* - education */
#edu {
    text-align: left;
    margin: auto;
}

#edu .edu-icon {
    font-size: xx-large;
    border: solid white;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    padding: 2px 5px;
}

#edu .current-education{
    background: url("../images/appbar.book.hardcover.open.writing.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}

#edu .past-education{
    background: url("../images/appbar.book.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}

#edu .edu-info h4{
     margin-top: 0px;
}

#edu .edu-info p{
    margin: 3px 0px 2px 5px;
    font-size: medium;
}



