/*
color scheme : 52ADDA	68B8DF	C9C9C9	DBDBDB	AACD4B	B5D954
color scheme : 336699	666666	999999
*/

body {
    font-family: arial,helvetica;
    color: white;
}

.section {
    text-align:center;
}

ul#socialmedia li{
    display: inline;
}

ul#socialmedia li a{
    margin-bottom: 5px;
}

/*.show-on-hover {
    visibility: hidden;
}*/