/*
color scheme : 52ADDA	68B8DF	C9C9C9	DBDBDB	AACD4B	B5D954
color scheme : 336699	666666	999999
*/

body {
    font-family: arial,helvetica;
    color: white;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

/* HOME PAGE */

#section0 {
    padding-top: 5%;
    padding-bottom: 10%;
}

.section {
    text-align:center;
}

/* - overview */

ul#socialmedia li{
    display: inline;
}

ul#socialmedia li a{
    margin-bottom: 5px;
}

ul#sections li{
    display: inline;
}

ul#sections li a{
    margin-bottom: 5px;
}

/*.show-on-hover {
    visibility: hidden;
}*/

/* - experience */

#latestprojects {
    text-align: left;
    margin: auto;
}

#latestprojects .projecticon{
    font-size: xx-large;
    /*margin: 10px;*/
    border: solid white;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    padding: 2px 5px;
}

#latestprojects .webapplication{
    background: url("../images/appbar.browser.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}

#latestprojects .windowsphoneapplication{
    background: url("../images/appbar.windowsphone.svg") no-repeat top left;
    display: block;
    background-size: 50px 50px;
}


#latestprojects .projectinfo h6{
    font-size: xx-large;
    margin-bottom: 10px;
}

#latestprojects .projectinfo p{
    margin: 3px 0px 2px 5px;
    font-size: medium;
}

#latestprojects .projectinfo p a{
    text-shadow: 2px 2px #666;
}



